*.v2
designpatterns/.vs/designpatterns/FileContentIndex/12859723-3287-4625-ab03-3f8a3bb0a71b.vsidx
designpatterns/.vs/
designpatterns/Builder/bin/
designpatterns/Builder/obj/
designpatterns/designpatterns/obj/
obj/
